<!DOCTYPE html>
<html>
  <head>
    <title>MatchStick</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        window.splashURL = "<%= image_url('splash_medium.jpg') %>";
    </script>
    <script type="text/javascript"> window.newprof0 = "<%= image_url('new_prof0.jpg') %>"</script>
    <script type="text/javascript"> window.magnify = "<%= image_url('magnify.jpg') %>"</script>
    <script type="text/javascript"> window.book = "<%= image_url('book.jpg') %>"</script>
        <script type="text/javascript"> window.question = "<%= image_url('question.jpg') %>"</script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
