<!DOCTYPE html>
<html>
  <head>
    <title>MatchStick</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap" rel="stylesheet">
          <meta property="og:title" content="MatchStick" />
     <meta property='og:image' content="<%= image_url('matchstick.png') %>"/>
     <meta property="og:description"
       content="Full stack dating website inspired by OkCupid and Tinder implemented with Ruby on Rails backend, and React Redux frontend."
     />
     <meta property="og:url"
       content="https://jae-matchstick.herokuapp.com/#/"
     />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'heart_logo.png' %>
    <script type="text/javascript">
        window.splashURL = "<%= image_url('splash_medium.jpg') %>";
    </script>
    <script type="text/javascript"> window.newprof0 = "<%= image_url('new_prof0.jpg') %>"</script>
    <script type="text/javascript"> window.magnify = "<%= image_url('magnify.jpg') %>"</script>
    <script type="text/javascript"> window.book = "<%= image_url('book.jpg') %>"</script>
        <script type="text/javascript"> window.question = "<%= image_url('question.jpg') %>"</script>
        <script type="text/javascript"> window.bowser = "<%= image_url('bowser.png') %>"</script>
        <script type="text/javascript"> window.ice_climbers = "<%= image_url('ice_climbers.png') %>"</script>
        <script type="text/javascript"> window.incineroar = "<%= image_url('incineroar.png') %>"</script>
        <script type="text/javascript"> window.kirby = "<%= image_url('kirby.png') %>"</script>
        <script type="text/javascript"> window.pichu = "<%= image_url('pichu.png') %>"</script>
        <script type="text/javascript"> window.mewtwo = "<%= image_url('mewtwo.png') %>"</script>
        <script type="text/javascript"> window.peach = "<%= image_url('peach.png') %>"</script>
        <script type="text/javascript"> window.yoshi = "<%= image_url('yoshi.png') %>"</script>
        <script type="text/javascript"> window.match = "<%= image_url('heart_logo.png') %>"</script>
        <script type="text/javascript"> window.github = "<%= image_url('github.png') %>"</script>
        <script type="text/javascript"> window.linkedin = "<%= image_url('linkedin.png') %>"</script>
        <script type="text/javascript"> window.izzi = "<%= image_url('izzi_prof.png') %>"</script>
        <script type="text/javascript"> window.bjorn = "<%= image_url('bjorn.jpg') %>"</script>
        <script type="text/javascript"> window.carol = "<%= image_url('carol.jpg') %>"</script>
        <script type="text/javascript"> window.christian = "<%= image_url('christian.JPG') %>"</script>
        <script type="text/javascript"> window.ciara = "<%= image_url('ciara.jpg') %>"</script>
        <script type="text/javascript"> window.cory = "<%= image_url('cory.jpg') %>"</script>
        <script type="text/javascript"> window.jae = "<%= image_url('jae.PNG') %>"</script>
        <script type="text/javascript"> window.jenny = "<%= image_url('jenny.jpg') %>"</script>
        <script type="text/javascript"> window.justin = "<%= image_url('justin.jpg') %>"</script>
        <script type="text/javascript"> window.maddie = "<%= image_url('maddie.jpg') %>"</script>
        <script type="text/javascript"> window.mel = "<%= image_url('mel.jpg') %>"</script>
        <script type="text/javascript"> window.molly = "<%= image_url('molly.jpg') %>"</script>
        <script type="text/javascript"> window.tessa = "<%= image_url('tessa.jpg') %>"</script>
        <script type="text/javascript"> window.tia = "<%= image_url('tia.jpg') %>"</script>
        <script type="text/javascript"> window.todd = "<%= image_url('todd.jpg') %>"</script>
        <script type="text/javascript"> window.will = "<%= image_url('will.jpg') %>"</script>
        <script type="text/javascript"> window.william = "<%= image_url('william.jpg') %>"</script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
